
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*HELPER CLASS BEGIN*/

img {
    max-width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: Scheherazade;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
    font-family: 'Arbutus', cursive;
    font-family: 'Scheherazade', serif;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}


/* NAV BAR + HEADER STYLE START*/

header {
    background-color: transparent;
    width: 100%;
    position: relative;
    font-family: Arbutus;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    background: #01212c;
    opacity: 0.7;
    transition: 0.2s;
    z-index: 5;
}

body.scroll header.sticky {
    transform: translateY(0);
}

header .logo img {
    max-width: 100px;
    margin: 20px 0 0 20px;
}

.nav-wrapper {
   max-width: 1200px; 
   margin: auto;
   position: relative;
   padding: 7px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 0;  
}

nav ul li a {
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    color: #dae8fa;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s;
}

nav ul li a:hover {
    border-bottom: 1px solid #dae8fa;
}

/* PARALLAX PAGE STYLES START*/

.cover-main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-bottom: 40px;
}

ul#scene li.name {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #dae8fa;
    width: 100%;
    font-family: Arbutus;
}

ul#scene li.title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #dae8fa;
    width: 100%;
    margin-top: 60px;
    font-family: Arbutus;
}

ul#scene {
    margin-top: 50px;
}

.btn-main {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.portfolio-btn,
.contact-btn {
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #dae8fa;
    background: transparent;
    color: #dae8fa;
    text-decoration: none;
    transition: 0.3s;
}


.portfolio-btn:hover,
.contact-btn:hover {
    background: #dae8fa;
    color: #01212c;
} 

.portfolio-btn {
    margin-right: 30px;
}

.contact-btn {
    margin-left: 30px;
}

.community h1 {
    font-family: 'Scheherazade', serif;
    margin: 0 150px;
    font-size: 40px;
    line-height: 45px;
    color: #dae8fa;
    text-decoration: none;
    text-align: center;

}

.noticeboard p {
    display: block;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: #01212c;
    padding: 20px;
}

/* PARALLAX PAGE STYLES END*/

/* MASONRY JS STYLES START*/

.masonry-grid {
    position: relative;
}

.grid {
    margin: 0 auto;
}

.grid-item {
    width: 300px;
    margin-bottom: 10px;
}


h2.sub-title {
    position: relative;
    display: block;
    color: #01212c;
    margin: 70px auto;
    text-align: center;
    font-size: 35px;
    line-height: 40px;

}

h2.sub-title::after {
    display: block;
    height: 2px;
    background-color:#01212c;
    content: "";
    width: 300px;
    margin: 30px auto 0 auto;
}

/* MASONRY JS STYLES END*/

/* I LOVE SEAFORD ANIMATION START*/

section.beating-heart {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/IMG_7176[1].jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    text-align: center;
    padding: 50px 10px;
    color: #dae8fa;
    display: flex;
    justify-content: center;
    align-items: self-start;
    align-self: center;
}

section.beating-heart span {
    font-size: 100px;
    line-height: 105px;
    font-family: Arbutus;
}

section.beating-heart.sub-title h2 {
    margin-bottom: 30px;
}

section.beating-heart p {
    font-size: 20px;
    padding: 80px 40px;
}

.beating-heart h2.sub-title::after {
    background: #dae8fa;
}


.heart {
    position: relative;
    width: 70px;
    margin: 0 50px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    
    0% {
        transform: scale(1);    
    }
    15% {
        transform: scale(1.25); 
    }
    25% {
        transform: scale(1.15);    
    }
    35% {
        transform: scale(1.25);    
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}


/* I LOVE SEAFORD ANIMATION END*/

/* SLIDER START */

.slider-div h2 {
    margin-bottom: 0;
}

.slider {
    margin: 20px, auto;
    text-align: center;
    padding: 20px;
    color: #dae8fa;
}

.slide {
    max-height: 700px;
    padding: 15px;
}

.slick-prev, 
.slick-next {
    background: #01212c;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slick-prev {
    left: 0
}

.slick-next {
    right: 0;
}

.slick-prev:hover,
.slick-next:hover {
    background: #01212c;
}

.slide p {
    color:#01212c;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    padding: 10px;
    margin: 25px auto;
}

/* SLIDER END */

/* FOOTER START*/
footer {
    position: relative;
    z-index: -2;
    height: 80px;
    background: #01212c;
    text-align: center;
}
 footer h1 {
     position: absolute;
     color: #dae8fa;
     font-family: Arbutus;
     bottom: 20px;
     left: 50%;
     transform: translate(-50%);
     width: 800px;
 }


/* FOOTER END*/

/* RESPONSIVE MENU START */

@media only screen and (max-width: 1160px) {
    section.beating-heart span {
        font-size: 30px;
        line-height: 35px;
    }

    .heart {
        width: 50px;
        margin: 0 20px;
    }
}


@media only screen and (max-width: 768px) {

    li.layer.name.community h1 {
        margin: 50px;
        font-size: 25px;
        line-height: 30px;    
        }

    li.layer.btn-main {
        margin-top: 110px;
    }    

    .menu-trigger {
        background: url('../images/hamburger-icon.svg') no-repeat center / cover;
        width: 35px;
        height: 35px;
        display: block;
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 15px;
    }
    
    .main-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #01212c;
        opacity: 0.80;
        z-index: 5;
        display: none;
    }

    .main-overlay::after {
        background: url('../images/close-icon.svg') no-repeat center / cover;
        width: 35px;
        height: 35px;
        display: block;
        content: "";
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 20;
    }

    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background: #01212c;
        opacity: 0.9;
        width: 100%;
        max-width: 200px;
        z-index: 30;
        transform: translate3d(-100%, 0, 0);
        transition: 0.3s;
    }

    .nav.nav-wrapper ul li {
        display: block;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 20px;
    }

    .nav.nav-wrapper ul li a {
        font-size: 30px;
        line-height: 35px;
    }
    .nav.nav-wrapper ul li a:hover {
        border-color: transparent;
    }

    body.menu-is-active .menu {
        transform: translate3d(0, 0, 0);
        display: block;
        padding: 20px 15px;
    }

    body.menu-is-active .main-overlay {
        display: block;
    }

    body.menu-is-active .menu-trigger {
        display: none;
    }
    
}
@media only screen and (max-width: 560px) {
    ul#scene li.name {
        font-size: 22px;
        line-height: 27px;
    }

    ul#scene li.title {
        font-size: 20px;
        line-height: 25px;
    }
}

/* Noticeboard */

.noticeboard h1 {
    font-size: 30px;
    color: #dae8fa;
    text-align: center;
    padding-top: 50px;
}


.contact {
    text-align: center;
    margin: auto;
    font-size: 35px;
    color:#dae8fa;
    padding: 30px;
}

.form {
    display: grid;
}

.msg-form {
    position: relative;
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
}

.msg-form label {
    display: block;
    color: #01212c;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5px;
}

input, textarea {
    background-color: #01212c;
    color:#dae8fa;
    width: 100%;
    border: 2px solid #dae8fa;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
    }   
    
textarea::placeholder  {
    color:#dae8fa;
    font-size: 16px;
}  

.form-control {
    position: relative;
} 

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
}



.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
    color: #ff3535;
}

#submit.button {
    font-size: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #01212c;
    color: #dae8fa;
}



#close.button {
    font-size: 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #dae8fa;
    color: #01212c;
}

/*pop up styling*/
.pop-up {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #dae8fa;
    background-color:#01212c;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1;
    font-family: 'Scheherazade', serif;
    font-size: 30px;
}

.modal_container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color:#01212c;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal_container.show .pop-up {
    visibility: visible;
}

.pop-up-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pop-up h1, h2, p {
    text-align: center;
    padding: 20px 15px;
    font-size: 25px;
}

.pop-up-logo {
    height: 150px;
}





